* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagramWrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.fotoCelular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 100%;
}

.fotoCelular {
    height: 50rem;
}

.instagramLogin {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 90%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.grupo:nth-child(1) {
    min-height: 20rem;
}

.logoInsta {
    height: 3rem;
}

.fotoPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.fotoPerfil {
    height: 6rem;
}

.instaLogin {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instaLogout {
    color: #0095f6;
    margin-top: 1rem;
}

.notAccount {
    color: rgb(160, 160, 160);
}

.linkBlue {
    color: #0095f6;
}

.getApps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.baixarApp {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.appDownload {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.appDownload:nth-child(1) {
    background-image: url('./img/BotaoAppleStore.png');
}

.appDownload:nth-child(2) {
    background-image: url('./img/BotaoGooglePlay.png');
}


/* media queries */

@media (max-width: 1024px) {
    .instagramWrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }
    .grupo {
        border: 1px solid transparent
    }
    .instagramWrapper {
        width: 90%;
    }
    .instagramCell {
        display: none;
    }
    .instagramLogin {
        width: 100%;
    }
}